
/* common */
body {
  margin: 0;
  padding: 0;
  font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif!important;
  text-align: left;
  font-size: 13px;
  line-height:20px;
  color: #000
}

html[data-useragent*=mac] body * {
  font-family:'나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif!important;
}

input,select,textarea {
  font-family:'나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
  font-size: 13px;
  color: #000
}

address,dd,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,iframe,input,li,object,ol,p,select,textarea,ul {
  margin: 0;
  padding: 0
}

img{
  vertical-align: top;
}
fieldset,iframe,img {
  border: none
}

iframe {
  display: block
}

ol,ul {
  list-style-type: none
}

table {
  clear: both;
  border-collapse: collapse
}

address,em {
  font-style: normal
}

select {
  height: 20px;
  font-size: 12px
}

input {
  padding-right: 1px
}

.ipad input[type=text],button,input[type=button],input[type=image],input[type=submit],textarea {
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
  -webkit-border-radius: 0
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: collapse;
}

table caption {
  display: none !important;
}


.blind {
  overflow: hidden!important;
  position: absolute!important;
  clip: rect(0 0 0 0)!important;
  width: 1px!important;
  height: 1px!important;
  margin: -1px!important
}

.wrap {
  margin: 0 auto;
  width:1024px;
}
header {
  width: 988px;  background: #fff;
  padding: 20px!important;
  height: 30px!important;
}
/* .nav {
width: 1024px; height: 100px; background: black;
} */
.main{
  width:988px;
  /* background: lightyellow; */
}

.main_list{
  margin: 10px 0px 10px 0px;
}

footer {
  width: 988px; height: 100px; background:#fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

input, select{
  border:none;
  border-bottom: 1px solid #c1c1c1;
  margin: 15px 0px 30px 0px;
}

input[type="text"] {
  font-size: 14px;
  color: #acacac;
  width: 400px;
}

input[type="email"] {
  font-size: 14px;
  color: #acacac;
  width: 195px;
}
select {
  font-size: 14px;
  color: #acacac;
  width: 190px;
}
textarea {
  width: 390px;
  height: 80px;
  padding: 10px 5px;
  resize: none;
}



label {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

button[type="submit"] {
  margin-left: 245px;
  border: 2px solid #bdbdbd;
  background: #e9e9e9;
  font-size: 15px;
  color: #666;
  width: 100px;
  height: 40px;
}

/* rset */

header{
  overflow:hidden;
  background-color:#fff;
}

.logo{
  float:left;
  font-size: 20px;
  color:black;
}

/* logotexthidden */
.FoodWith_logo {
  display: block;
  overflow: hidden;
  width: 114px;
  height: 50px;
  /* background-position: -4px -4px; */
  text-indent: 101%;
  white-space: nowrap;
  background: url("../img/logo_pc.png") no-repeat;
  background-size: 100px 30px;
}

header li {
  float: right;
  font-size: 22px;
  color: #333;
  margin-right: 20px;
}
header li:hover{
  cursor: pointer;
  font-weight: bold;
}
header::after {
  clear: both;
  display: block;
  content: '';
}


p1 {
  margin-top: 80px;
  /* 460px맞출시 글자 위치가 바뀜 */
  width: 460px;
  background-color: yellow;
  font-size: 40px;
  line-height: 52px;
}

.elip3 {
  max-height: 156px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.banner {
  display: flex;
  height: 420px;
  background: yellow;
}

.banner img {
  margin: 30px 0px 0px 24px;
}

.author_img{
  position: relative;
  border-radius: 50%;
  background-image: url(../img/thumbnail_profile_none.jpg);
  width: 40px;
  height: 40px;
  background-size: cover;
}

/* 사용자 이미지 */
.img-cover{
  position: relative;
  border-radius: 50%;
  background-image: url(../img/thumbnail_profile.jpg);
  width: 40px;
  height: 40px;
  background-size: cover;
  z-index:1;
}

.banner ul {
  display: inline-block;
  width:100%;
  table-layout: fixed;
  margin: 0px 0px 20px 0px;
}

.banner li {
  font-size: 18px;
  color: #333;
  margin: 20px 5px 0px 0px;
  display: inline-block;
  vertical-align: middle;
}



/* 따라하기 라이브러리 */
/* .con {
margin: 0 auto;

} */
.img-box img{
  width: 100%;
  display: block;
  border: 1px solid rgba(0,0,0,0.1);
}

/* END */
.cell {
  float:left;
  width:32.185%;
  box-sizing: border-box;
  padding: 10px 10px;
}
.row {
  margin: 0 -10px;
}

/* .row::after {
clear: both;
display: block;
content: '';
} */

/* .list-box {
margin: 0 auto;
} */


.list-box::after {
  clear: left;
  display: block;
  content: '';
}

.navbar {
  text-align:center;
  position: relative;
  margin:0px 0px 20px 0px;
  height: 60px;
  border: 1px solid rgba(0,0,0,0.1);
  background: #fff;
}

.arrow_icon{
  position: absolute;
  top:20px;
  left:50%;
  font-size: 16px;
  color: #333;
}



.main_form {
  display: flex;
  height: 600px;
  background: #f4f5f7;
}


p2{
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin-top: 100px;
  /* 460px맞출시 글자 위치가 바뀜 */
  width: 350px;
  font-size: 42px;
  line-height: 52px;
}

p3 {
  font-size: 18px;
  color: #333;
}
p4 {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}
p5 {
  font-size: 14px;
  color: #333;
}
p6 {
  font-size: 14px;
  color: #333;
}

.form_background {
  display: block;
  overflow: hidden;
  width: 398px;
  height: 50px;
  /* background-position: -4px -4px; */
  text-indent: 101%;
  white-space: nowrap;
  background: url("../img/bg_pencil.png") no-repeat;
  background-size: 750px 45px;
  margin-top: 150px;
}


.form {
  width: 590px;
  height: 400px;
  margin: 100px 0px;
  background: white;
}

fieldset {
  margin-top: 40px;
}
form {

  margin: 0 auto;
  width: 400px;
}





.notice {
  background: #f0f0f0;
}

.notice_wrap {
  padding: 20px 0px 10px 0px;
}

.notice a {
  margin-left: 570px;
  font-size: 14px;
  color: #333;
}
.border-line {
  margin-top: 20px;
  border: 1px solid #c1c1c1;
}

.vertical-bar {
  margin: 0px 10px 0px 10px;
  border-right: 1px solid #c1c1c1;
}











@media (max-width: 1023px) and (min-width:768px) {

  .cell {
    float:left;
    width:40.185%;
    box-sizing: border-box;
    padding: 10px 10px;
  }

}



.imgBoxDiv {
  width: 316px;
  height: 316px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.imgDiv{
  width: 100%;
  height: 100%;
  position: absolute;
  background: lightyellow;
  z-index:1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  bottom: 0px;
  overflow: hidden;
}
.imgBoxDiv:hover .imgDiv {
  bottom: 50px;
}
.imgDescDiv {
  width: 100%;
  /* 60px 적용 필요... */
  height: 20px;
  padding-bottom:  10px;
  font-size: 18px;
  color: #333;
  background: #fff;
  position: absolute;
  bottom: 0px;
  text-align: center;
  line-height: 20px;
}




.elip1 {

  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}











/* .lg_aside {
position: absolute;
top: 12px;
right: 0;
width: 64px;
height: 49px;
} */
