@charset "utf-8";

/* common */
body {

  margin: 0;
  padding: 0;
  font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif!important;
  text-align: left;
  font-size: 13px;
  line-height:20px;
  color: #000
}

html[data-useragent*=mac] body * {
  font-family:'나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif!important;
}

input,select,textarea {
  font-family:'나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
  font-size: 13px;
  color: #000
}

input {
  padding-right: 0px !important;
}

address,dd,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,iframe,input,li,object,ol,p,select,textarea,ul {
  margin: 0;
  padding: 0
}

img{
  vertical-align: top;
}
fieldset,iframe,img {
  border: none
}
fieldset {
  height: -webkit-fill-available;
}

iframe {
  display: block
}

ol,ul {
  list-style-type: none
}

table {
  clear: both;
  border-collapse: collapse
}

address,em {
  font-style: normal
}

select {
  height: 20px;
  font-size: 12px
}

input {
  padding-right: 1px
}

button {padding: 0px;}

.ipad input[type=text],button,input[type=button],input[type=image],input[type=submit],textarea {
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
  -webkit-border-radius: 0
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: collapse;
}

table caption {
  display: none !important;
}

select { border-radius:0; /* 아이폰 사파리 보더 없애기 */
  -webkit-appearance:none; /* 화살표 없애기 for chrome*/
  -moz-appearance:none; /* 화살표 없애기 for firefox*/
  appearance:none /* 화살표 없애기 공통*/
}

.blind {
  overflow: hidden!important;
  position: absolute!important;
  clip: rect(0 0 0 0)!important;
  width: 1px!important;
  height: 1px!important;
  margin: -1px!important
}

/* css reset  end*/

.gnb_menu {
  display: none;
}

.wrap {max-width:988px; margin: 0 auto;}

header{background-color: #fff; }

header:after {
  clear: both;
  content: '';
  display: block;
}

header h1{line-height: 70px; float:left; background-image: url("../img/logo_pc.png"); background-repeat: no-repeat;
width: 114px; height: 70px; background-position: center; }

header.item_link {position: relative; display: block;}

.menu{float:right;}

.menu li {float:left; color: #333; font-size:22px;  padding: 0px 18px 0px 18px; }

.menu a {line-height: 70px;}


li:nth-last-child( 1 ) {padding-right: 0px;}

.menu li:hover {font-weight: bold;}

/* header end */

.banner {background: #ffee02;}

.banner:after {clear: both; content: ''; display: block;}

.bannertxt {float: left; height: 340px;margin-top: 80px;}

.bannertxt h2{width: 460px;height: 156px;font-size: 40px;line-height: 52px;color: #333; font-weight: normal;}

.bannertxt .elip {max-height: 156px; overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;}

.cross_bar {margin: 35px 0px; }

.bar { width: 40px; border: 1px solid black; display: inline-block;}

.user_thumbnail{display: inline-block;width:40px;height:40px;border-radius: 100%; background-image:url('../img/thumbnail_profile_none.jpg');background-repeat: no-repeat; background-size: 40px 40px;vertical-align: middle;}

.user_thumbnail a {display: inline-block;  width: 40px;  height: 40px; }

.user_thumbnail img{width:40px;height:40px;border-radius: 100%;}

.user_nickname {font-size: 18px;color: #333;vertical-align: middle;  font-weight: normal;}

.aside {float: right; height: 420px; line-height: 420px;}

.aside img {vertical-align: middle;}


/* banner end */



.thumbnail_area {background: #f0f0f0; padding-bottom: 20px;}

ul {list-style: none;font-size: 12px; line-height: 14px; text-align: center;}

.main_list {margin: 0 auto; padding-top:20px; }

.thumbnail_area:after {
  clear: both;
  content: '';
  display: block;
}

.main_list li {float: left;   margin-bottom: 20px;}
.main_list:after { display: block; content: ''; clear: both; }
.main_list li + li { margin-left: 20px; }
.main_list li:nth-child(3n+1) { margin-left:0px;}


.img_wrap:hover:after{
  background-color: rgba(255, 255, 255, 0.3);
}


.thumbnail_area  a:hover .info {display:block;}


.img_wrap:after { position: absolute; top: 0; right: 0; bottom: 0; left: 0;content: ''; border: 1px solid rgba(0, 0, 0, 0.1);}

.thumbnail_area .item_link {position: relative; display: block; }

.info {display:none;position: absolute; background: #fff; width: 316px; height: 60px; bottom: 0px; color: #fff;  overflow: hidden; }

.title { font-size: 18px; line-height: 60px; color: #333; overflow: hidden; text-overflow: ellipsis;  white-space: nowrap; }

.thumbnail_area button {background: #fff;background-image: url('../img/icon_arrow_more.png');background-repeat: no-repeat; background-position: 46.5% 50%; background-size:16px 16px;
 font-size: 16px; color:#333;cursor: pointer;  width: 100%; height: 60px; border: 1px solid rgba(0, 0, 0, 0.1);}

/* thumb end */


.wrap_background {max-width:988px;  margin: 0 auto;  background-image: url('../img/bg_pencil.png');  background-repeat: no-repeat; background-position: 50% 85%;}

.wrap_background:after {
  display: block;
  content: '';
  clear: both;
}
.message_form {width:100%;height:620px;background:#f4f5f7;}

.message_form_content {float: left; width: 340px; margin-top: 80px; background-color: #f4f5f7;}

.message_form_content h3{font-size: 42px;line-height: 52px; margin-bottom: 20px; color: #333; font-weight: normal;}

.message_form strong {font-size: 18px; color: #333; font-weight: normal;}

.message_form_aside {float: right; width:590px; height:460px; margin-top: 80px; background: rgba(255,255,255,0.9); line-height: 50px; box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.08);}

.message_form form {padding: 40px 50px 40px 50px;}

.message_form label {display: block;font-size: 16px; color: #333; height: 40px; font-weight: bold; cursor: pointer;}

.message_form input::placeholder { color: #acacac; font-size: 14px; }

.message_form textarea::placeholder { color: #acacac; font-size: 14px; padding: 15px; opacity: 0.9; }

.message_form textarea { height: 155px;}

.message_form input { width:100%; border: none; background: rgba(255,255,255,0.9); padding-bottom: 10px;
  border-bottom: 1px solid #c1c1c1; font-size: 14px; color:#333; }

.mail_area p { display: inline-block; width:20px; text-align: center; }

.mail_area:after {
    display: block;
    content: '';
    clear: both;
}


.message_form select { border: none; background: rgba(255,255,255,0.9); border-bottom: 1px solid #c1c1c1; font-size: 14px;
  color:#333; background-image: url('../img/icon_arrow_email.png'); background-repeat: no-repeat; background-size: 10px 6px;
  background-position: 97% 40%; }


.message_form textarea { width: 100%; margin-top: 50px; resize: none; background: rgba(255,255,255,0); }

.message_form button[Type='submit'] { position: relative; cursor: pointer; border: 2px solid #bdbdbd; background: #e9e9e9;
  color:#666; font-size: 15px; width:100px; height: 45px; left: 390px; top: -390px; }

.message_form .mail_area {
  margin-top: 15px;
}
.message_form button[Type='submit'] {
float: right; top: -395px; left: auto;
}

.message_form select { width: calc(50% - 25px); height: auto; float: left; padding-bottom: 10px; }

.message_form .at { float: left; text-align: center; line-height: 15px; width:50px; }

.message_form input[type~="email"] { width: calc(50% - 25px); float: left; }


/* massage end */
.notice ul, .notice li { display: inline; font-size: 14px; color: #333; }

.notice {background:#f0f0f0; padding-bottom: 15px; height: 170px;}


.txt_line {  width:400px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.notice button { float: right; cursor: pointer; border: none; font-size: 14px; color: #333;  background: #f0f0f0;
line-height: 35px; }

.notice h4{
  font-size: 16px;
  color: #333;
}

.notice_content {  height: 35px;  line-height: 35px; }

.notice_content h4{ display: inline-block; }

.notice_sub_title strong { float: left; font-size: 14px; color: #333; font-weight: normal; }

.notice_title {
  padding-top: 20px;
}

.notice_sub_title {
   height: 35px;  line-height: 35px; margin-bottom: 10px;
}

.notice_content:after {
  display: block;
  clear:both;
  content:'';
}

.cross_long_bar {border: 1px solid #c1c1c1;}

.notice_content :nth-child(1) {
  margin-top: 10px;
}

.notice_content li:nth-child(1) {  margin-left: 15px; }

.vertical_bar { display:  inline-block; border-right: 1px solid #c1c1c1;  height: 10px; }



/* notice_end */

footer {height:100px;background:#fff; text-align: center;font-size: 14px;color:#333;}

footer ul { display: inline-block; line-height: 50px; font-size: 14px; color:#333; }

footer li { float: left; margin-left: 30px; }


.detail_contents a:nth-child(n+1) {
margin-left: 10px;
}

.vertical_bar {
  width: 10px;
}

footer ul:after {
  display: block;
  clear:both;
  content:'';
}

footer li:first-child {margin-left: 0px;}

/* footer end */







@media (min-width: 768px)  and (max-width: 1022px){

  .wrap { padding-left: 34px; padding-right: 34px;}
  header .wrap {padding-left: 0px; padding-right: 0px;}
  header li:nth-last-child( 1 ) {padding-right: 18px;}

   header{height: 50px;}
   header h1 {line-height: 50px;
   background-image: url("../img/logo_m.png"); background-repeat: no-repeat;
   background-size: 84px 18px;  height: 50px; background-position: center;}

  .menu li {height: 50px; font-size: 18px;}

  .menu a {line-height: 50px; }

  /* header end */



 .bannertxt {margin-top: 60px; height: 270px; width: calc(100% - 350px);}

 .bannertxt h2 { width: 100%; height: 120px; font-size: 32px; line-height: 40px; color: #333; }

 .bannertxt .elip {max-height: 120px; overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;}
 .cross_bar {margin: 25px 0px; }
 .aside img { width:350px; height: 252px; }
 .aside {height: 330px; line-height: 330px;}

/* banner end */


.thumbnail_area {background: #f0f0f0;}

.main_list img {width: 100%; height: 100%;}

.main_list li {float: left; width: auto; height: auto; margin-bottom: 70px;}

.main_list:after { display: block; content: ''; clear: both; }

.main_list li { margin-left: 20px;  width: calc(50% - 10px);}
.main_list li:nth-child(3n+1) { margin-left:20px;}
.main_list li:nth-child(2n-1) { margin-left:0px;}

.img_wrap {width: 100%; height: 100%;}

.img_wrap:hover:after{background-color: inherit;}

.thumbnail_area  a:hover .info {display:block;}

.img_wrap:after { position: absolute; top: 0; right: 0; bottom: 0; left: 0;content: ''; border: 1px solid rgba(0, 0, 0, 0.1);}


.info {display:block; position: absolute; background: #f0f0f0; width: 100%; height: 50px; bottom: -50px;
color: #fff; margin-bottom: 0px; }

.title { font-size: 18px; line-height: 50px; color: #333;
  overflow: hidden; text-overflow: ellipsis;  white-space: nowrap; }

.thumbnail_area button { background-position: calc(50% - 35px) 50%; }

.wrap_background {max-width:988px;   margin: 0 auto;
 padding: 30px 34px 30px 34px;
 background-image: none;
 background-repeat: no-repeat; background-position: 50% 75%;
}

/* thumb end */
.message_form textarea {
  height: 158px;
}

.message_form_content {
  float: none;width: inherit;margin-top: 0px;    margin-bottom: 20px;text-align: center;}

.message_form_content h3 {
width: inherit; font-size: 30px; margin-bottom: 0px;}


.message_form_aside {
float: none; margin-top: 0px; width: inherit;
}


}




@media (min-width: 320px) and (max-width: 767px) {


  header .wrap {padding-left: 0px; padding-right: 0px;}
   header{height: 50px;}

   header h1 {line-height: 50px; background-image: url("../img/logo_m.png"); background-repeat: no-repeat; background-size: 84px 18px;
    height: 50px; background-position: center;} .menu li {height: auto; font-size: 22px; color: #333; padding: 0px;}

  .menu {
    /* display: none; */
    display: grid;
    padding: 10px 0px;
    grid-template-rows: 36px 36px 36px;
		position: absolute;
		top: 50px;
		left:0;
		bottom: 0;
		width: 100%;
		margin:0;
		background-color: #fff;
    height: 108px;

  }

  .menu a {  line-height: 36px;  display: block; }


  .gnb_menu{
      display: block;
  		position: absolute;
  		top: 0px;
  		right:0px;
  		width: 46px;
  		height: 50px;
  		color: transparent;
      background-image: url('../img/icon_menu.png');
      background-repeat: no-repeat;
  		background-size: 16px 16px;
      background-position: 15px;
  	}

  /* header end */

.banner {text-align: center;   padding: 20px 0px 40px 0px;}

.bannertxt { float: none; height: auto; margin-top: 200px; padding: 0px 35px 0px 35px; }

.bannertxt h2 {
  width: auto;
  height: auto;
  font-size: 22px;
  line-height: 28px;
}

.bannertxt .elip {
    -webkit-line-clamp: 2;
}

.banner .wrap {
 display:flex;
 flex-direction: column-reverse;
}
.aside {
  float: none;
  text-align: center;
  height: 0px;
  line-height: 0px;
}

.aside img {
  width:250px;
  height: 180px;
}

.cross_bar {
  text-align: center;
}





.thumbnail_area { padding: 0px 15px 0px 15px;}

.main_list img {width: 100%; height: 100%;}

.main_list li {float: left; width: auto; height: auto; margin-bottom: 55px;}

.main_list:after { display: block; content: ''; clear: both; }

.main_list li {  width: 100%;}
.main_list li:nth-child(3n+1) { margin-left:0px;}
.main_list li:nth-child(2n-1) { margin-left:0px;}
.main_list li + li { margin-left: 0px; }

.img_wrap {width: 100%; height: 100%;}

.img_wrap:hover:after{background-color: inherit;}

.thumbnail_area  a:hover .info {display:block;}

.img_wrap:after { position: absolute; top: 0; right: 0; bottom: 0; left: 0;content: ''; border: 1px solid rgba(0, 0, 0, 0.1);}


.info {display:block; position: absolute; background: #f0f0f0; width: 100%; height: 40px; bottom: -40px;
color: #fff; margin-bottom: 0px; }

.title { font-size: 14px; line-height: 40px; color: #333;
  overflow: hidden; text-overflow: ellipsis;  white-space: nowrap; }

.thumbnail_area button { background-position: calc(50% - 35px) 50%;  margin-bottom: 20px}


/* thumb end */

.message_form {
  height: auto;
}

.wrap_background {max-width:988px; margin: 0 auto;
 padding: 0px 15px 0px 15px;
 background-image: none;
 background-repeat: no-repeat; background-position: 50% 75%;
}

.message_form form {
  padding: 25px;
}

.message_form button[Type='submit'] {
    top: -380px;
}

.message_form textarea { height: 168px; margin-top: 30px; }

.message_form button[Type='submit'] {
  height: 35px;
  width: 85px;
}

.message_form fieldset {
  height: 370px;
}


.message_form_content {
  float: none;width: inherit;margin-top: 0px;    margin-bottom: 20px;text-align: center;}

.message_form_content h3 {
width: inherit; font-size: 22px; margin-bottom: 0px;}

.message_form strong {
  font-size: 14px;
}

.message_form_aside {
float: none; margin-top: 0px; width: inherit; height: 420px;
}



/* notice-end */
.notice .wrap {
  height: auto;
}
.txt_line {
    width: 226px;
}

.notice {
  height: 210px;
  padding:15px;
}

.notice_content {
  height: 50px;
  line-height: 25px;
}

.notice_title h4{
font-size: 16px;
}

.notice_content h4 {

  display: block;
}

.notice_content li:nth-child(1) {
  margin-left: -10px;
}


footer li {
    margin-left: 14px;
}

}
